{% extends "CMS/main.html" %}
{% load cropping %}

{% block breadcrum %}
	<li><a href="% url 'Ecommerce:dispatch_slug' category.slug %}">{{ category_name }}</a></li>
{% endblock %}

{%block content%}

	<body>
		<div class="section" >
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row" id="contenedor_producto">
					<!-- shop -->
					{% for i in product_and_images %}
						<div class="col-md-4 col-xs-6" id="ejemplo">
							<div class="shop"> 
								<div class="shop-img">
									<img src="/media/{{i.product_images.all.first.image}}" alt="foto" width="210px" height="200px" style="float: right">
								</div>

								<div class="shop-body">
									<h3>{{ i.name }}<br>{{ i.price }}  </h3>
									<a href="{% url 'Ecommerce:dispatch_slug' i.slug %}" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
					
					{% endfor %}
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
	</body>

{%endblock content%}



