{% load cropping %}
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>

		{% compress css inline %}
			<!-- Google font -->
			<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

			<!-- Bootstrap -->
			<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

			<!-- Slick -->
			<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
			<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>

			<!-- nouislider -->
			<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>

			<!-- Font Awesome Icon -->
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

			<!-- Custom stlylesheet -->
			<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

			<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
		{% endcompress %}

    </head>
	<body>
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i>{{ config.phone }}</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> {{ config.email }}</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> {{ config.address }}</a></li>
					</ul>
					<ul class="header-links pull-right">
						<!--<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>-->
						<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="{% url 'index' %}" class="logo">
									<img src="/media/{{config.logo}}" alt="logo">
								</a>
							</div>
						</div>
						<!-- /LOGO -->
						
						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form action="{% url 'busqueda' %}" method='GET'>
									{% csrf_token %}
									<select class="input-select" name="category_list" id="category_list">
										<option value="0">All Categories</option>
										{% for i in categories %}
											<option value="{{ i.id }}">{{ i.name }}</option>
										{% endfor %}
									</select>
									<input class="input" placeholder="Busca aqui" name="search" value="">
									<button class="search-btn">Search</button> 
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="carrito">
										<i class="fa fa-shopping-cart"></i>
										<span>Your Cart</span>
										<div class="qty" id='total_items_cart'>{{ total_items_cart }}</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list" id="productos_carrito">
											<!--<div class="product-widget">
												<div class="product-img">
													<img src="" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>-->
										</div>
										<div class="cart-summary" id="productos_resumen">
											<small>0 Item(s) selected</small>
											<h5>SUBTOTAL: 0</h5>
										</div>
										<div class="cart-btns">
											<a href="#">View Cart</a>
											<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="{% url 'index' %}">Home</a></li>
						{% for i in categories %}
							<li><a href="{% url 'Ecommerce:dispatch_slug' i.slug %}" target="_self">{{i.name.capitalize}}</a></li>
						{% endfor %}
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'index' %}">Home</a></li>
							{% block breadcrum %}

							{% endblock %}
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

	{% block content %}

	{% endblock %}

		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>{{ config.address }}</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>{{ config.phone }}</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>{{ config.email }}</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									{% for c in categories %}
										<li><a href="{% url 'Ecommerce:dispatch_slug' c.slug %}" target="_self">{{c.name.capitalize}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>


		{% compress js inline %}
			<script src="{% static 'js/jquery.min.js' %}"></script> 
			<script src="{% static 'js/bootstrap.min.js' %}"></script> 
			<script src="{% static 'js/slick.min.js' %}"></script>
			<script src="{% static 'js/nouislider.min.js' %}"></script>
			<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		{% endcompress %}

	</body>
</html>
